.education__card,
.experience__card {
  display: flex;
  flex-direction: column;
  background: var(--color-light-1);
  color: var(--color-dark-1);
  row-gap: 1rem;
  padding: 2rem 1rem;
  border-radius: var(--size-radius);
  border: 3px solid var(--color-dark-1);
}
.education__card div,
.experience__card div {
  display: flex;
  align-items: center;
  column-gap: 4rem;
  justify-content: space-between;
}