.nav {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -500px;
  background: var(--color-light-2);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: var(--size-radius);
  transition: left 0.3s;
}
.nav__list {
  padding: 3rem 2rem;
  width: 200px;
  row-gap: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.nav__list a {
  color: var(--color-dark-1);
  font-size: 1.5rem;
  font-weight: 600;
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.1s;
}
.nav__list a:hover {
  color: var(--color-light-2);
  background: var(--color-dark-1);
  padding: 0.5rem;
  font-weight: 800;
  border-radius: var(--size-radius);
  transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.1s;
}
