/*! Font  */
@import url(https://fonts.googleapis.com/css?family=Gabarito:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Dela+Gothic+One:regular);

/* ! Root */
:root {
  --color-dark-1: #27374d;
  --color-dark-2: #526d82;
  --color-light-1: #9db2bf;
  --color-light-2: #dde6ed;
  --font-white: #fff;
  --size-radius: 0.3rem;
}
/*! Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input,
button {
  border: none;
  outline: none;
  font-family: inherit;
}
img {
  width: 100%;
}