/*! Font  */
@import url(https://fonts.googleapis.com/css?family=Gabarito:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Dela+Gothic+One:regular);

/* ! Root */
:root {
  --color-dark-1: #27374d;
  --color-dark-2: #526d82;
  --color-light-1: #9db2bf;
  --color-light-2: #dde6ed;
  --font-white: #fff;
  --size-radius: 0.3rem;
}
/*! Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input,
button {
  border: none;
  outline: none;
  font-family: inherit;
}
img {
  width: 100%;
}

/* ! Base */
body {
  font-family: "Gabarito", serif;
  background: url(/image/low-poly-grid-haikei.svg);
  color: var(--color-light-2);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.5rem;
}
p {
  font-size: 1rem;
}
.section {
  padding: 3rem;
}
.bshadow {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

/* *Main */
.main {
  /* margin: 2rem 0 3rem; */
  position: relative;
}

/* General page */
.homepage,
.about,
.blog,
.contact,
.education,
.experience,
.portfolio,
.skills {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.about__title,
.blog__title,
.contact__title,
.experience__title,
.education__title,
.portfolio__title,
.skills__title {
  margin-bottom: 2.5rem;
}
.about__title h3,
.blog__title h3,
.contact__title h3,
.education__title h3,
.experience__title h3,
.portfolio__title h3,
.skills__title h3 {
  position: relative;
  padding-bottom: 0.6rem;
  color: var(--color-light-2);
}
.about__title h3::after,
.blog__title h3::after,
.contact__title h3::after,
.education__title h3::after,
.experience__title h3::after,
.portfolio__title h3::after,
.skills__title h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 5px;
  background: var(--color-light-2);
  border-radius: 15px;
}