/*! Font  */
@import url(https://fonts.googleapis.com/css?family=Gabarito:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Dela+Gothic+One:regular);

/* ! Root */
:root {
  --color-dark-1: #27374d;
  --color-dark-2: #526d82;
  --color-light-1: #9db2bf;
  --color-light-2: #dde6ed;
  --font-white: #fff;
  --size-radius: 0.3rem;
}
/*! Reset  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
input,
button {
  border: none;
  outline: none;
  font-family: inherit;
}
img {
  width: 100%;
}

/* ! Base */
body {
  font-family: "Gabarito", serif;
  background: url(/image/low-poly-grid-haikei.svg);
  overflow-x: hidden;
  color: var(--color-light-2);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 1.7rem;
}
h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 0.9rem;
}
h6 {
  font-size: 0.5rem;
}
p {
  font-size: 1rem;
}
.section {
  padding: 3rem;
}
.bshadow {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

/* *Main */
.main {
  /* margin: 2rem 0 3rem; */
  position: relative;
}

/* General page */
.homepage,
.about,
.blog,
.contact,
.education,
.experience,
.portfolio,
.skills {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* !Responsive */
/* !Tablet */
@media screen and (max-width: 920px) {
  .about__content {
    padding: 2rem;
  }
  .about__content p {
    padding: 3.5rem;
  }
  .content__post {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills__content {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* !Mobile */
@media screen and (max-width: 640px) {
  .sidebar {
    left: -25px;
  }
  .btn__sidebar {
    max-width: 48px;
  }
  .sidebar:hover :is(.nav) {
    left: 23px;
  }
  .home__img {
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
  }
  .home__content h2 {
    font-size: 1.2rem;
  }
  .home__content h1 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .home__content h4 {
    font-size: 0.8rem;
  }
  .section {
    padding: 1.2rem;
  }
  .about__content {
    padding: 1rem;
  }
  .about__content p {
    padding: 1.5rem;
    line-height: normal;
  }
  .contact__content{
    padding: 0rem 1rem;
  }
  .content__menu {
    min-height: 100%;
    flex-direction: column;
    row-gap: 1rem;
  }
  .search__menu {
    width: 100%;
  }
  .filter__menu {
    padding: 0;
  }
  .filter__menu select {
    width: 100%;
    display: block;
    height: 40px;
  }
  .content__post {
    grid-template-columns: repeat(1, 1fr);
  }
  .title__post h2 {
    font-size: 1.5rem;
  }
  .title__post h5 {
    font-weight: 200;
  }
  .description__post p {
    font-size: 1rem;
  }
  .contact__content {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .contact__item h3 {
    font-size: 1.2rem;
  }
  .contact__item span {
    font-size: 1rem;
  }
  .form__group {
    grid-template-columns: repeat(1, 1fr);
  }
  .education__card h4,
  .experience__card h4 {
    font-size: 1.1rem;
  }
  .education__card div,
  .experience__card div {
    flex-direction: column;
    align-items: start;
  }
  .education__card h2,
  .experience__card h2 {
    font-size: 1.6rem;
  }
  .education__card h3,
  .experience__card h3 {
    font-size: 1rem;
  }
  .portfolio__content {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills__content {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
  .card__skill {
    padding: 1rem;
    width: 100%;
  }
  .card__skill svg {
    height: 48px;
  }
  .card__skill h3 {
    font-size: 1rem;
  }
}
